CompileFlags:
  Add:
    - -std=c++20
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - clang-analyzer-*
      - performance-*
      - portability-*
      - readability-identifier-naming
      - readability-magic-numbers
